
@{
    ViewBag.Title = "桌面设置";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="/Content/jquery/jquery-1.10.2.min.js"></script>
<script src="/Content/echarts/echarts.min.js"></script>

@Html.AppendCssFile("/Views/Home/AdminDesktopAccordion/Index.css")
<div class="lr-desktop-panel">
    <h1>桌面</h1>
</div>
@Html.AppendJsFile("/Views/Home/AdminDesktopAccordion/Index.js")